{% extends 'valtan/basic/layout.html' %}

{% block title %} VALTAN {% endblock %}

{% block content %}
<div class="col-md-12">
    <h1><i class="fas fa-server"></i> C & C (Command And Control)</h1>
</div>
<div class="col-md-12">
    <form action="{% url 'c_and_c' %}" method="post">
        {% csrf_token %}
        <div>
            Target IP Address:
            <input type="text" name="target" value="{{post.target}}" placeholder="127.0.0.1(IP Address)">
        </div>
        <div>
            Target Port Number:
            <input type="number" name="port" value="{{post.port}}" placeholder="80(Port Number)">
        </div>
         <div>
            Command:
            <input type="text" name="command" placeholder="ls -la">
        </div>
        <button type="submit">EXECUTE!!</button>
    </form>
</div>
<div class="col-md-12">
    <h2>RESULT</h2>
    <div>
        <p>Command: {{post.command}} </p>
    </div>
    <textarea rows="40" cols="80" readonly>{{server.result}}</textarea>
</div>
{% endblock %}
