<!DOCTYPE html>
<html>
    <head>
        {% include 'alvatross/basic/header.html' %}
    </head>
    {% block title %} Forget Password {% endblock %}
    
    <body>
        {% block content %}
        <div class="col-md-12">
            <h1> Forget Password </h1>
        </div>
        <div class_"row">
            <section class="content">
                <div class="container-fluid">
                    <div class="col-md-10">
                        <div class="card">
                            <div class="card-header">
                                Please enter your ID.
                            </div>
                            <div class="card-body">
                                <div class="col-md-12">
                                    {% if error %}
                                        {% for err in error %}
                                            <font color="red">{{ err }}</font>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-md-12">
                                    <form action="{% url 'forget_password' %}" method="post">
                                        {% csrf_token %}
                                        <div class="col-md-4">
                                            <input type="text" name="loginid" value="">
                                        </div>
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary btn-block">Enter</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% endblock %}
        <script src="../../plugins/jquery/jquery.min.js"></script>
        <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="../../dist/js/.dminltemin.js?v=3.2.0"></script>
   </body>
</html>
