{% extends 'alvatross/basic/layout.html' %}

{% block title %} VALTAN {% endblock %}

{% block content %}
<div class_"row">
    <section class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <h1> MyProfile </h1>
            </div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <p>
                            This page is myprofile.
                            It can view information about myself.
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">名前</div>
                            <div class="col-md-6">{{ login_user.username }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">メールアドレス</div>
                            <div class="col-md-6">{{ login_user.email }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">ユーザタイプ</div>
                            {% if login_user.is_superuser %}
                                <div class="col-md-6">Admin</div>
                            {% else %}
                                <div class="col-md-6">User</div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-md-4">姓</div>
                            <div class="col-md-6">{{ login_user.first_name }}</div>
                        </div>
                         <div class="row">
                            <div class="col-md-4">名</div>
                            <div class="col-md-6">{{ login_user.last_name }}</div>
                        </div>
                         <div class="row">
                            <div class="col-md-4">最終ログイン日時</div>
                            <div class="col-md-6">{{ login_user.last_login }}</div>
                        </div>
 
                   </div>
               </div>
           </div>
       </section>
   </div>
</div>
{% endblock %}
