{% extends 'alvatross/basic/layout.html' %}

{% block title %} POST {% endblock %}

{% block content %}
<div class="col-md-12">
    <h1> Post List </h1>
</div>
<div class_"row">
    <section class="content">
        <div class="container-fluid">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <p>
                                    This is a Post List Page.<br>
                                    It can add new Post, edit or delete.<br>
                                    If created, only the user who created it can update or delete it.<br>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <form action="{% url 'insert_post' %}">
                                    <button type="submit" class="btn btn-primary btn-block">New Post</button>
                                </form>
                            </div>
                        </div>
                    </div>
                   <div class="card-body">
                        <div class="row">
                            <div class="input-group">
                                <div class="col-md-8">
                                    <form method="get">
                                        <input type="search" 
                                                value="{{ request.GET.query }}"
                                                placeholder="Please input search Query."
                                                name="query" class="form-control">
                                        <button class="btn btn-primary">Search.</button>
                                    </form>
                                    {% if request.GET.query %}
                                        Your search query is {{request.GET.query}}.
                                    {% endif %}
                                </div>
                            <div class="col-md-4">
                                <form method="get" action="csv_export">
                                    <input type="hidden" 
                                            value="{{ request.GET.query }}">
                                    <div class="col-md-6">
                                        <button class="btn btn-primary">CSV Export.</button>
                                    </div>
                                </form>
                            </div>
                            {% if request.GET.success_message %}
                                <div class="alert alert-success alert-dismissible col-md-12">
                                        {{ request.GET.success_message }}
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        {% if post_list %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>TITLE</th>
                                    <th>CONTENT</th>
                                    <th>CREATED USER</th>
                                    <th>STATUS</th>
                                    <th>CREATED</th>
                                    <th>UPDATED</th>
                                    <th></th>
                                </tr>
                            </thead>
                                {% for post in post_list %}
                                <tr>
                                    <td>{{ post.id }}</td>
                                    <td>{{ post.title | safe}}</td>
                                    <td>{{ post.content | safe }}</td>
                                    <td>{{ post.user |safe }}</td>
                                    <td>{{ post.status }}</td>
                                    <td>{{ post.created_at }}</td>
                                    <td>{{ post.updated_at }}</td>
                                    <td>
                                        {% if post.user == user %}
                                            <form action="{% url 'update_post' id=post.id %}">
                                                <button type="submit" class="btn btn-primary btn-block">Edit</button>
                                            </form>
                                            <form action="{% url 'delete_post' id=post.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-block">Delete</button>
                                            </form>
                                        {% else %}
                                            <form action="">
                                                <button type="submit" class="btn btn-primary btn-block" disabled>Edit</button>
                                            </form>
                                            <form action="" method="post">
                                                <button type="submit" class="btn btn-danger btn-block" disabled>Delete</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                        </table>
                        {% else %}
                            <p><font color="red">Post Data is Not Found.</font></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
