{% extends 'alvatross/basic/layout.html' %}

{% block title %} POST {% endblock %}

{% block content %}
<div class="col-md-12">
    <h1> Post List </h1>
</div>
<div class_"row">
    <div class="col-md-12">
        <form action="{% url 'insert_post' %}">
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">New Post</button>
            </div>
        </form>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h3>POST</h3>
                    </div>
                    <div class="card-body">
                        {% if post_list %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>TITLE</th>
                                    <th>CONTENT</th>
                                    <th>USER</th>
                                    <th>STATUS</th>
                                    <th>CREATED</th>
                                    <th>UPDATED</th>
                                    <th></th>
                                </tr>
                            </thead>
                                {% for post in post_list %}
                                <tr>
                                    <td>{{ post.id }}</td>
                                    <td>{{ post.title | safe}}</td>
                                    <td>{{ post.content | safe }}</td>
                                    <td>{{ post.user |safe }}</td>
                                    <td>{{ post.status }}</td>
                                    <td>{{ post.created_at }}</td>
                                    <td>{{ post.updated_at }}</td>
                                    <td>
                                        {% if post.user == user %}
                                            <form action="{% url 'update_post' id=post.id %}">
                                                <button type="submit" class="btn btn-primary btn-block">Edit</button>
                                            </form>
                                            <form action="{% url 'delete_post' id=post.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-block">Delete</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                        </table>
                        {% else %}
                            <p><font color="red">Post Data is Not Found.</font></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
