{% extends 'alvatross/basic/layout.html' %}

{% block title %} POST {% endblock %}

{% block content %}
<div class="col-md-12">
    <h1> Edit Post </h1>
</div>
<div class_"row">
    <section class="content">
        <div class="container-fluid">
            <div class="card">
            <div class="card-header">
                <div class="col-md-12">
                    <p>
                        Update Post.<br>
                        Input information and push "Update" Button.
                    </p>
                    {% if error %}
                        {% for err in error %}
                            <font color="red">{{ err }}</font>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="card-body">
                    <form action="{% url 'update_post' id=post.id %}" method="post">
                        <table>
                            <div class="col-md-12">
                                {% csrf_token %}
                                <tr>
                                    <td>
                                        <b>ID: </b>
                                    </td>
                                    <td>
                                        {{ post.id }}
                                    </td>
                                </tr>
                                {{ edit_post_form.as_table }}
                                <tr>
                                    <td>
                                        Created At: 
                                    </td>
                                    <td>
                                        {{ post.created_at }}
                                    </td>
                                </tr>
                                 <tr>
                                    <td>
                                        Updated At: 
                                    </td>
                                    <td>
                                        {{ post.updated_at }}
                                    </td>
                                </tr>
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <input type="hidden" name="redirect_url" value="/alVatross/post">
                            </div>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button type="submit" class="btn btn-primary btn-block">Update.</button>
                                    </td>
                                </tr>
                        </table>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
