{% extends 'alvatross/basic/layout.html' %}

{% block title %} Update User {% endblock %}

{% block content %}
<div class="col-md-12">
    <h1> Update User </h1>
</div>
<div class_"row">
    <section class="content">
        <div class="container-fluid">
            <div class="card">
            <div class="col-md-12">
                {% if error %}
                    {% for err in error %}
                        <font color="red">{{ err }}</font>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-12">
                <table>
                    <div class="row">
                    <form action="{% url 'update_user' id=user.id %}" method="post">
                        <div class="col-md-12">
                            <th>
                                <label>User Name:</label>
                            </th>
                            <td>
                                {{ user.username }}
                            </td>
                            {% csrf_token %}
                            {{ edit_user_form.as_table }}
                        </div>
                   </form>
                    </div>
                </table>
                <div class="col-md-12">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
