{% extends 'alVatross/basic/layout.html' %}

{% block title %} POST {% endblock %}

{% block content %}
<div class="col-md-12">
    <h1> Edit Post </h1>
</div>
<div class_"row">
    <section class="content">
        <div class="container-fluid">
            <div class="card">
            <div class="col-md-12">
                {% if error %}
                    {% for err in error %}
                        <font color="red">{{ err }}</font>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-12">
                <table>
                    <form action="{% url 'update_post' id=post.id %}" method="post">
                        <div class="col-md-12">
                            {% csrf_token %}
                            <div class="col-md-12">
                                ID: {{ post.id }}
                            </div>
                           {{ edit_post_form.as_table }}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <input type="hidden" name="redirect_url" value="/alVatross/post">
                        </div>
                        <div class="col-md-12">
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Edit Post</button>
                            </div>
                        </div>
                    </form>
                </table>
                <div class="col-md-12">
                    Created At: {{ post.created_at }}
                </div>
                 <div class="col-md-12">
                    Updated At: {{ post.updated_at }}
                </div>
            </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
