{% extends 'alvatross/basic/layout.html' %}

{% block title %} User {% endblock %}

{% block content %}
<div class="col-md-12">
    <h1> User </h1>
</div>
<div class_"row">
    <section class="content">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <p>
                                    This page is Usre List.<br>
                                    It can add new User, Edit and Delete.<br>
                                    User data can udpate or delete only admin user.
                                </p>
                            </div>
                            <div class="col-md-4">
                                {% if login_user.is_superuser %}
                                    <form action="{% url 'insert_user' %}">
                                        <button type="submit" class="btn btn-primary btn-block">New User</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    <div class="card-body">
                        <form method="get">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="search" 
                                            value="{{ query }}"
                                            placeholder="Please input search Query."
                                            name="query" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    User Type:
                                </div>
                                <div class="col-md-3">
                                    {% for field in user_type_choice_form %}
                                        {{ field }}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <button class="btn btn-primary">Search.</button>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12">
                                {% if query %}
                                    Your search query is {{query | safe}}.
                                {% endif %}
                                {% if error %}
                                    <div class="col-md-8">
                                        {% for err in error %}
                                            <font color="red">{{ err }}</font>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if request.GET.success_message %}
                                    <div class="col-md-8">
                                        <div class="alert alert-success alert-dismissible">
                                            {{ request.GET.success_message }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if user_list %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Login ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>User Type</th>
                                    <th>Email Address</th>
                                    <th>Last Login</th>
                                    <th></th>
                                </tr>
                            </thead>
                                {% for user in user_list %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.first_name}}</td>
                                    <td>{{ user.last_name}}</td>
                                    <td>
                                        {% if user.is_superuser %}
                                            Admin
                                        {% else %}
                                            User
                                        {% endif %}
                                    </td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.last_login }}</td>
                                    <td>
                                        {% if login_user.is_superuser %}
                                            <form action="{% url 'update_user' id=user.id %}">
                                                <button type="submit" class="btn btn-primary btn-block">Edit</button>
                                            </form>
                                            <form action="{% url 'delete_user' id=user.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-block">Delete</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                        </table>
                        {% else %}
                            <p><font color="red">User Data is Not Found.</font></p>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
