{% extends 'alvatross/basic/layout.html' %}

{% block title %} User {% endblock %}

{% block content %}
<div class="col-md-12">
    <h1> User </h1>
</div>
<div class_"row">
    <div class="col-md-12">
        <form action="{% url 'insert_post' %}">
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">New Post</button>
            </div>
        </form>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h3>User List</h3>
                    </div>
                    <div class="card-body">
                        {% if user_list %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>User Type</th>
                                    <th>Email Address</th>
                                    <th>LastLogin</th>
                                    <th></th>
                                </tr>
                            </thead>
                                {% for user in user_list %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>
                                        {% if user.is_superuser %}
                                            Admin User
                                        {% else %}
                                            User
                                        {% endif %}
                                    </td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.last_login }}</td>
                                    <td>
                                            <form action="">
                                                <button type="submit" class="btn btn-primary btn-block">Edit</button>
                                            </form>
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger btn-block">Delete</button>
                                            </form>
                                    </td>
                                </tr>
                                {% endfor %}
                        </table>
                        {% else %}
                            <p><font color="red">User Data is Not Found.</font></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
